<% content_for :title, "Your Shopping Cart" %>
<h2>Your Shopping Cart</h2>
<% if @cart.empty? -%>
<h3>No items found</h3>
<% else -%>
<table class="cart_contents common43h">
  <thead>
    <tr class="titles">
      <th class="image">Video Details</th>
      <th class="details"></th>
      <th class="license">License</th>
      <th class="actions">Actions</th>
      <th class="total">Total</th>
    </tr>
  </thead>
  <tbody>
    <% @cart.cart_items.each do |i| -%>
    <tr class="row">
      <td class="image"><%= image_tag i.video.screenshot.url(:tiny) if i.video.screenshot.exists? %></td>
      <td class="details"><%= link_to i.video.title, show_video_path(i.video) %></td>
      <td class="license"><%= i.delivery %></td>
      <td class="actions buttons"><%= link_to image_tag('themes/vidli/icons/cancel.png') + ' Remove', remove_cart_item_path(i), :class => 'negative' %></td>
      <td class="total"><%= number_to_currency cart_item_price(i, i.delivery) %></td>
    </tr>
    <% end -%>
  </tbody>
</table>
<p class="cart_total">Total: <%= number_to_currency @cart.total_price %></p>
<%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), express_checkout_path %>
<% end -%>
