<h2>Confirm</h2>
<p>First Name: <%= @order.first_name %> <%= @order.last_name %></p>
<% @cart.cart_items.each do |i| -%>
<li><%= i.video.title %> - via <%= i.delivery %> - $<%= cart_item_price(i, i.delivery) %></li>
<% end -%>
<% form_for @order, :url => place_order_checkout_path do |f| -%>
  <%= f.hidden_field :express_token %>
  <%= f.submit 'Place Order '%>
<% end -%>
