<h2>Confirm</h2>
<%= render :partial => 'orders/address', :locals => { :order => @order } %>

<% @cart.cart_items.each do |i| -%>
<li><%= i.video.title %> - via <%= i.delivery %> - <%= number_to_currency cart_item_price(i, i.delivery) %></li>
<% end -%>
<p>Total: <%= number_to_currency @cart.total_price %></p>

<%= form_for @order, :url => place_order_checkout_path do |f| -%>
  <%= f.hidden_field :express_token %>
  <%= f.submit 'Place Order '%>
  or <%= link_to 'Cancel', root_url %>
<% end -%>
