<h2>Order Receipt</h2>
<h3><%= @order.uuid.upcase %></h3>
<%= render :partial => 'orders/address', :locals => { :order => @order } %>

<% @order.order_items.each do |i| -%>
  <li><%= i.video.title %> - via <%= i.delivery %> - <%= number_to_currency i.price %></li>
<% end -%>
</ul>
<p>Total: <%= number_to_currency @order.total %></p>