<h2>Register</h2>
<% form_for @user, :url => {:action => "create"} do |f| -%>
  <% if @user.errors.any? -%>
    <div id="error_explanation">
      <ul>
      <% @user.errors.full_messages.each do |msg| -%>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field field_text">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  
  <div class="field field_text">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  
  <div class="field field_text">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  
  <div class="field field_text">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field field_text">
    <%= f.label :password_confirmation, 'Password Confirmation' %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field buttons">
    <button type="submit">
      <%= image_tag 'themes/vidli/icons/check.png' %>
      Register
    </button>
  </div>
<% end -%>