<h2>Register</h2>
<% form_for @user, :url => {:action => "create"} do |f| -%>
  <% if @user.errors.any? -%>
    <div id="error_explanation">
      <ul>
      <% @user.errors.full_messages.each do |msg| -%>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.submit "Register" %>
  </div>
<% end -%>