<h2>Reset Your Password</h2>

<%= render "shared/error_messages", :target => @user %>

<%= form_for @user, :url => reset_password_url do |f| %>
<div class="field field_text">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>
<div class="field field_text">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
</div>
<div class="field buttons">
  <button type="submit" class="positive">
    <%= image_tag('themes/vidli/icons/check.png') %>
    Reset Password and Log in
  </button>
</div>
<% end %>