<h1>Order Receipt</h1>
<ul>
<% @order.order_items.each do |i| -%>
  <li><%= i.video.title %> - via <%= i.delivery %> - <%= number_to_currency i.price %></li>
  <% if i.delivery == 'download' %><%= link_to 'Download Video', download_order_item_path(@order.uuid, i.id) %><% end -%>
  <% if i.delivery == 'streaming' %><%= link_to 'Watch Your Video', watch_order_item_path(@order.uuid, i.id) %><% end -%>
<% end -%>
</ul>
<p>Total: <%= number_to_currency @order.total %></p>