<h1>Order Receipt</h1>
<%= render :partial => 'orders/address', :locals => { :order => @order } %>

<table class="order_contents common43h">
  <thead>
    <tr class="titles">
      <th class="image">Video Details</th>
      <th class="details"></th>
      <th class="license">License</th>
      <th class="experience">Experience</th>
      <th class="total">Total</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_items.each do |i| -%>
    <tr class="row">
      <td class="image"><%= image_tag i.video.screenshot.url(:tiny) if i.video.screenshot.exists? %></td>
      <td class="details"><%= link_to i.video.title, show_video_path(i.video) %></td>
      <td class="license"><%= i.delivery %></td>
      <td class="experience">
        <div class="buttons">
        <% if i.delivery == 'download' %><%= link_to image_tag('themes/vidli/icons/download.png') + ' Download Video', download_order_item_path(@order.uuid, i.id) %><% end -%>
        <% if i.delivery == 'streaming' %><%= link_to image_tag('themes/vidli/icons/streaming.png') + ' Watch Your Video', watch_order_item_path(@order.uuid, i.id) %><% end -%>
        </div>
      </td>
      <td class="total"><%= number_to_currency i.price %></td>
    </tr>
    <% end -%>
  </tbody>
</table>
<p class="order_total">Total: <%= number_to_currency @order.total %></p>