<h1>Listing All Videos</h1>

<table class="video_list common43h">
  <tr class="titles">
    <th class="image">Image</th>
    <th>Title</th>
    <th class="enabled">Enabled?</th>
    <th></th>
  </tr>
<% @videos.each do |video| %>
  <tr class="row">
    <td class="image"><%= link_to image_tag(video.screenshot.url(:tiny)), [:admin, video] if video.screenshot.exists? %></td>
    <td><%= link_to h(video.title), [:admin, video] %></td>
    <td class="enabled"><%= video.enabled? ? image_tag('themes/vidli/icons/check.png') : image_tag('themes/vidli/icons/cancel.png') %>
    <td class="buttons">
      <%= link_to image_tag('themes/vidli/icons/pencil.png') + ' Edit', edit_admin_video_path(video) %>
      <%= link_to image_tag('themes/vidli/icons/cancel.png') + ' Destroy', [:admin, video], :confirm => 'Are you sure?', :method => :delete, :class => 'negative' %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate @videos %><br />

<div class="buttons">
  <%= link_to image_tag('themes/vidli/icons/add.png') + ' New Video', new_admin_video_path, :class => 'positive' %>
</div>