<h1><%= @video.title %></h1>

<%= redcloth @video.description %>

<b>Screenshot:</b>
<p>
  <%= image_tag @video.screenshot.url(:thumb) if @video.screenshot.exists? %>
</p>

<% if @video.s3_path %>
<p>
  <b>Download:</p>
  <%= link_to @video.s3_url, @video.s3_url %>
</p>

<p>
  <b>Stream:</b>
  <div id="mediaplayer"></div>

	<script type="text/javascript">
		jwplayer("mediaplayer").setup({
			flashplayer: "/flash/player.swf",
			file: "<%= @video.s3_url %>",
			image: "<%= @video.screenshot.url(:medium) %>"
		});
	</script>
</p>
<% end %>

<div class="buttons">
  <%= link_to image_tag('themes/vidli/icons/pencil.png') + ' Edit Video', edit_admin_video_path(@video), :class => 'positive' %>
  <%= link_to image_tag('themes/vidli/icons/magnify.png') + ' Show All Videos', admin_videos_path %>
</div>