<% content_for :title, "Login" %>
<h2>Login</h2>
<p>New to the site? <%= link_to 'Register here', register_path %>.</p>

<% form_for @user_session, :url => {:action => "create"} do |f| -%>
  <%= render "shared/error_messages", :target => @user_session %>

  <div class="field field_text">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field field_text">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field field_checkbox">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
  </div>
  <div class="field">
    <%= link_to 'Forgot Your Password?', forgot_password_path %>
  </div>
  <div class="field buttons">
    <button type="submit" class="positive">
      <%= image_tag 'themes/vidli/icons/check.png' %>
      Login
    </button>
  </div>
<% end -%>  