<!DOCTYPE html>
<html>
<head>
  <title>Vidli</title>
  <%= stylesheet_link_tag 'themes/vidli.css' %>
  <%= javascript_include_tag 'jquery-1.6.2' + (RAILS_ENV == 'production' ? '' : '.min') + '.js'%>
  <%= javascript_include_tag 'themes/vidli.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
<style>

</style>
  <div class="super clearfix">
    <div class="container">
      <div class="cart">
        <%= link_to "Shopping Cart (#{@cart.cart_items.count})", cart_path %>
      </div>
      <ul class="menu">
      <% if current_user -%>
        <li>Signed in as <%= link_to current_user.email, account_url %> <%= link_to(image_tag('themes/vidli/icons/x-dark_blue-small.png', :alt => 'Logout'), logout_path, :class => 'logout') %></li>
      <% else -%>
        <li><%= link_to 'Login', login_path %></li>
        <li class="divider">|</li>
        <li><%= link_to 'Register', register_path %>
      <% end %>
      <% if permitted_to? :index, :admin_videos -%>
        <li class="divider">|</li> 
        <li><%= link_to 'Admin', admin_videos_path %></li>
      <% end -%>
      </ul>
    </div>
  </div>
  <div class="header clearfix">
    <div class="container">
      <div class="logo"><a href="/" title="Video Licensing"><%= image_tag 'themes/vidli/common/vidli-logo.png', :alt => 'Video Licensing' %></a></div>
      <div class="search">
      	<% form_tag(search_videos_path, :method => :get ) do %>
      		<%= text_field_tag :q, params[:q], :class => 'query off', :id => 'header_search' %>
      		<%= image_submit_tag 'themes/vidli/icons/search.png', :name => "", :class => 'submit' %>
      	<% end %>
      </div>
    </div>
  </div>
  
  <div class="messages clearfix">
    <div class="container">
      <div class="flash">
        <% if flash[:error]%><p class="error"><%= flash[:error] %></p><% end -%>
        <% if flash[:notice]%><p class="notice"><%= flash[:notice] %></p><% end -%>
      </div>
    </div>
  </div>
  
  <div class="content clearfix">
    <div class="container">
      <%= yield %>
    </div>
  </div>


  <div class="footer clearfix">
    <div class="container">
      <p>&copy; All Rights Reserved. Video eCommerce powered by <%= link_to 'Vidli', 'http://vidli.com' %> &reg;</p>
    </div>
  </div>

</body>
</html>
